*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: clamp(16px, 1vw, 22px);
}
body{
    background-color: #161616;
}
section{
    max-width: 2000px;
}
@mixin flex-colum($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}
main{
    width: 100%;
    @include flex-colum(0rem);
    align-items: center;
    section.view1{
        width: 100%;
        @include flex-colum(1rem);
        padding: 1rem;
         .top{
        width: 100%;
    
        @include flex-colum(1rem);
       img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.7rem;
       }
    }
    .bottom{
        background-color: #232222;
         @include flex-colum(3.5rem);
         border-radius: 0.7rem;
         padding: 1.5rem;
         
         .text{
            @include flex-colum(1.5rem);
            h1{
                font-weight: 400;
                font-size: 2.5rem;
                
            }
            p{
                opacity: 0.5;
                font-size: 1.5rem;
                line-height: 1.5;
                
            }
           .down{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
           }
           h3{
            opacity: 0.5;
            background-color: #68676758;
            padding:0.5rem ;
            border: 1px solid white;
            border-radius: 50%;
           }
           h4{
            font-size: 1.2rem;
           }
        }
      }
    }
    section.view2{
        @include flex-colum(2rem);
        padding: 1rem;
        width: 100;
        .top{
            display: flex;
            align-items: center;
            justify-content: space-around;
            
        }
        .bottom{
            display: flex;
            align-items: center;
            justify-content: space-around;
            
        }
        .top,.bottom{.info p{
             opacity: 0.5;
            } 
       .info h1{
        font-size: 2.5rem;
        font-weight: 250;
       }
    }
    } 
}
@media(min-width:900px) {
    main{
        section.view1{
            flex-direction: row;
            padding: 1rem 3rem;
            width: 100%;
            .top,
            .bottom{
             width: 50%;
        } 
        .bottom{
            
            justify-content: space-between;
            .text{
                  gap: 1.5rem;

                    h1 {
                        font-size: 3.5rem;
                    }

                    p {
                        width: 60%;
                        font-size: 1rem;
                    }
            }
        }
     }
        section.view2{
            flex-direction: row;
           
            .top , .bottom{
               flex: 1;       
             min-width: 0
            }
           
        }
    }    
}