@font-face {
    font-family: font;
    src: url('Priestacy.otf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    padding: 20px;
    display: flex;
    gap: 20px;
}
.cards{
    width: 450px;
    height: 400px;
    background-color: black;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    flex-wrap: wrap;
}

.cards img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.bottom{
    width: 100%;
    height: 30%;
    background:linear-gradient(transparent,black);
    position: absolute;
    bottom: -30%;
    padding:  5px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    transition: all ease 0.5s;
}
.bottom h3{
    font-size: 40px;
    color: white;   
}
.bottom h2{
    color:white;
    border-radius: 50%;
}
.cards:hover .bottom{
    bottom: 0%;
}